name: build

on:
  schedule:
    - cron: '0 0 * * 1'
  push:
  pull_request:

env:
  ORG: gentoo

jobs:
  build:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        target:
          - python
          - stage3-amd64-hardened-openrc
          - stage3-amd64-musl
          - stage3-amd64-musl-hardened
          - stage3-amd64-nomultilib-openrc
          - stage3-amd64-nomultilib-systemd
          - stage3-amd64-openrc
          - stage3-amd64-desktop-openrc
          - stage3-amd64-systemd
          - stage3-amd64-desktop-systemd
          - stage3-armv5tel-openrc
          - stage3-armv5tel-systemd
          - stage3-armv6j-openrc
          - stage3-armv6j-systemd
          - stage3-armv6j_hardfp-openrc
          - stage3-armv6j_hardfp-systemd
          - stage3-armv7a-openrc
          - stage3-armv7a-systemd
          - stage3-armv7a_hardfp_musl-openrc
          - stage3-armv7a_hardfp-openrc
          - stage3-armv7a_hardfp-systemd
          - stage3-arm64-desktop-openrc
          - stage3-arm64-desktop-systemd
          - stage3-arm64-musl
          - stage3-arm64-musl-hardened
          - stage3-arm64-openrc
          - stage3-arm64-systemd
          - stage3-i686-hardened-openrc
          - stage3-i686-musl
          - stage3-i686-openrc
          - stage3-i686-systemd
          - stage3-ppc64le-musl-hardened-openrc
          - stage3-ppc64le-openrc
          - stage3-ppc64le-systemd
          - stage3-rv64_lp64-openrc
          - stage3-rv64_lp64-systemd
          - stage3-rv64_lp64d-openrc
          - stage3-rv64_lp64d-systemd
          - stage3-s390x-openrc
          - stage3-s390x-systemd
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build ${{ matrix.target }}
        uses: ./.github/actions/container_build
        with:
          target: ${{ matrix.target }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
  build-manifests:
    if: |
      github.ref_name == 'master' && github.repository_owner == 'gentoo' &&
      (github.event_name == 'schedule' || github.event_name == 'push')
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        target:
          - stage3:latest
          - stage3:desktop
          - stage3:hardened
          - stage3:hardened-nomultilib
          - stage3:musl
          - stage3:musl-hardened
          - stage3:nomultilib
          - stage3:nomultilib-systemd
          - stage3:systemd
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build ${{ matrix.target }}
        uses: ./.github/actions/manifest_build
        with:
          target: ${{ matrix.target }}
          dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
          dockerhub_password: ${{ secrets.DOCKERHUB_PASSWORD }}
