name: build

on:
  schedule:
    - cron: '0 0 * * 1'
  push:
  pull_request:

env:
  ORG: gentoo

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - python
          - portage
          - stage3-amd64-hardened-nomultilib-openrc
          - stage3-amd64-hardened-openrc
          - stage3-amd64-musl
          - stage3-amd64-musl-hardened
          - stage3-amd64-nomultilib-openrc
          - stage3-amd64-nomultilib-systemd
          - stage3-amd64-openrc
          - stage3-amd64-desktop-openrc
          - stage3-amd64-systemd
          - stage3-amd64-systemd-mergedusr
          - stage3-amd64-desktop-systemd
          - stage3-amd64-desktop-systemd-mergedusr
          - stage3-armv5tel-openrc
          - stage3-armv5tel-systemd
          - stage3-armv6j-openrc
          - stage3-armv6j-systemd
          - stage3-armv6j_hardfp-openrc
          - stage3-armv6j_hardfp-systemd
          - stage3-armv7a-openrc
          - stage3-armv7a-systemd
          - stage3-armv7a_hardfp_musl-openrc
          - stage3-armv7a_hardfp-openrc
          - stage3-armv7a_hardfp-systemd
          - stage3-arm64-desktop-openrc
          - stage3-arm64-desktop-systemd
          - stage3-arm64-musl
          - stage3-arm64-musl-hardened
          - stage3-arm64-openrc
          - stage3-arm64-systemd
          - stage3-i686-hardened-openrc
          - stage3-i686-musl
          - stage3-i686-openrc
          - stage3-i686-systemd
          - stage3-ppc64le-musl-hardened-openrc
          - stage3-ppc64le-openrc
          - stage3-ppc64le-systemd
          - stage3-rv64_lp64-openrc
          - stage3-rv64_lp64-systemd
          - stage3-rv64_lp64d-openrc
          - stage3-rv64_lp64d-systemd
          - stage3-s390x-openrc
          - stage3-s390x-systemd
    name: ${{ matrix.target }}
    runs-on: ubuntu-latest
    env:
      TARGET: ${{ matrix.target }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up buildx
        uses: docker/setup-buildx-action@v2
      - name: Build image
        if: startswith(matrix.target, 'stage3') || startswith(matrix.target, 'portage')
        run: ./build.sh
      - name: Build python image
        if: startswith( matrix.target, 'python')
        run: ./build-python.sh
      - name: Inspect image
        run: docker image inspect "${ORG}/${TARGET/-/:}"
      - name: Inspect portage
        if: matrix.target != 'portage'
        run: docker run --rm "${ORG}/${TARGET/-/:}" emerge --info
      - name: Login to DockerHub
        uses: docker/login-action@v2
        if: github.event_name == 'schedule'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push image
        if: github.event_name == 'schedule'
        env:
          DOCKER_CLI_EXPERIMENTAL: enabled
        run: ./deploy.sh
